$zIndex-modal:1000;
$layout-content-gutter:25px;
$header-height:68px;
$footer-height:60px;
$content-height-offset: $footer-height + $header-height;
$content-max-width:1400px;

$header-box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.18);
$side-nav-box-shadow: 0 1px 4px -1px rgba(0,0,0,.15);
